

 
.thongtin {
    flex-basis: 43%;
    height: 100%;
}
.gioithieu  {
    flex-basis: 15%;
    height: 100%;
}
.dichvu  {
    flex-basis: 25%;
    height: 100%;
}
.lienhe  {
    flex-basis: 18%;
    height: 100%;
}
/*.footer_container {
        width: 100%;
        clear: both;
        position: absolute;
        top: 1700px;
        z-index: -1;
}

/* style thongtin */
/* style footer  */
.footer {
    border-top: 1px solid rgb(157, 155, 155);
}
.footer p {
    padding: 10px 0;
    text-align: center;
    color: #666;
    width: 100%;
    
}

/* style cartegory */



}